# Ignore virtual environment folder
venv/

# Ignore database files (for SQLite)
*.db

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore IDE configurations
.idea/
.vscode/

# Ignore environment configuration files
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
